---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = 'About Me - Extended Astronaut';
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const skillColor = '#4b5320';
---

<BaseLayout pageTitle={pageTitle}>
  <p>This site was written as a starter helper for launch-up on using Astro.</p>
  <p>About me? no need. Just follow the Astro official docs to know more about Astro. I'm just an insignificant being for your time right now.</p>
  
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill text-green-700 font-bold">{skill}</li>)}
  </ul>
</BaseLayout>
