---
import Navigation from "../components/Navigation.astro"

const postsTitle = {
  title_1: "The Pilot",
  title_2: "The Co-Pilot",
  title_3: "The Shortcomings",
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navigation />
		<h1>Blogs List</h1>
    <p>All posts from the blog.</p>

    <ul>
			<li><a href="/posts/posts-1/">{postsTitle.title_1}</a></li>
			<li><a href="/posts/posts-2/">{postsTitle.title_2}</a></li>
			<li><a href="/posts/posts-3/">{postsTitle.title_3}</a></li>
		</ul>
	</body>
</html>
