---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = 'The Astronaut!';
const isAdmin = true;
const isFinished = false;
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Launch Up Soon!</h2>

	{isAdmin && <p>Only admin can see this message.</p>}
	{isAdmin && isFinished && <p>If you're an admin, and already finish the blogs, you'll see this message..</p>}
</BaseLayout>
