---
const { link, title } = Astro.props;
---
<a href={`/${link}`}>{title}</a>

<style>
  a {
    padding: 2px 8px;
    color: white;
    background-color: purple;
    text-decoration: none;
  }
</style>
